=content_for :stylesheets do ||
	=stylesheet_link_tag "home"

#home_logo_container.centred
	%img.centred{:src => "/images/5mlogo.png", :id => "logo"}
	#slogan.centred
		INVESTMENT 
		%br/
		GROWTH
		%br/
		SUCCESS