/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

body {
  margin: 0px;
}

#nav {
  overflow: visible;
}

#content {
  clear: left;
  float: left;
}

#header_container {
  width: 100%;
  height: 211px;
  background-image: url(/images/grey_stripe_background.png);
}

#logo_container {
  height: 211px;
  width: 255px;
  float: left;
}

.logo_small {
  float: left;
	background-image: url(/images/5mlogo_nav.png); 
  height: 211px;
  background-repeat: no-repeat;
  width: 200px;
}

.right_round {
  float: left;
  background-image: url(/images/5mlogo_right_nav1.png); 
  height: 211px;
  background-repeat: no-repeat;
  width: 54px;
}

.nav_items {
  overflow: inherit;
  height: 160px;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 47px;
  left: 250px;
}

.nav_item .selected {
  background-color: #212121;  
}

.nav_item {
  float: left;
  width: 150px;
  height: 150px;
  background-color: #000000;
  color: white;
  overflow: visible;
}

.bottom_round {
  background-image: url(/images/5mlogo_bottom_nav.png); 
  width: 211px;
  background-repeat: no-repeat;
  height: 54px;
  clear: left;
  float: left;
}

.bottom_gray {
  height: 10px;
  width: 100%;
  vertical-align: bottom;
  background-color: gray;

}
.bottom_black {
  height: 40px;
  width: 100%;
  background-color: black;
}